<body id="portfolio">

    <div class="top-04">
        <div class="headline">
            <div class="portfolio-line"></div>

            <h1><b>Portfolio</b></h1>

        </div>

        <p>This page is a sample of my work! Scroll down to view other projects I have developed. </p>
    </div>

    <div class="bottom-04">

        <div class="epl-div">

            <div class="buttons">
                <button class="btn-github">Github</button>

                <button class="btn-livetest">Live test</button>
            </div>

            <img class="epl-img" src="assets/eplmock.png">

            <div class="desc-body-04">
                <h2><b><br class="hide-breaks">El Pollo Loco</b></h2>

                <p><br class="hide-breaks">Jump, run and throw game based on object-oriented approach. Help Pepe to find
                    coins and tabasco salsa to fight against the crazy hen.
                </p>

                <h4><br class="hide-breaks">JavaScript | HTML | CSS</h4><br class="hide-breaks">
            </div>

        </div>

        <div class="join-div">

            <div class="buttons">
                <button class="btn-github">Github</button>

                <button class="btn-livetest">Live test</button>
            </div>

            <img class="join-img" src="assets/joinmock.png">

            <div class="desc-body-04">
                <h2><b><br class="hide-breaks">Join</b></h2>

                <p><br class="hide-breaks">Task manager inspired by the Kanban system. Create and organize tasks using
                    drag and drop functions, assign users and categories.  
                </p>

                <h4><br class="hide-breaks">JavaScript | HTML | CSS | Git</h4><br class="hide-breaks">
            </div>
        </div>
    </div>


</body>