<body id="portfolio">

    <div class="top-04">
        <div class="headline">
            <div class="portfolio-line"></div>

            <h1><b>Portfolio</b></h1>

        </div>

        <p>{{ 'PORTFOLIO_04_01' | translate }}</p>
    </div>

    <div class="bottom-04">

        <div class="epl-div">

            <div class="buttons">
                <a href="https://github.com/MuhammedAhmedYazea/El-Pollo-Loco"><button class="btn-github">Github</button></a>

                <a href="https://muhammed-ahmed-yazea.developerakademie.net/elpolloloco/"><button class="btn-livetest">Live test</button></a>
            </div>

            <img class="epl-img" src="assets/eplmock.png">

            <div class="desc-body-04">
                <h2><b><br class="hide-breaks">El Pollo Loco</b></h2>

                <p><br class="hide-breaks">{{ 'PORTFOLIO_04_02' | translate }}
                </p>

                <h4><br class="hide-breaks">JavaScript | HTML | CSS</h4><br class="hide-breaks">
            </div>

        </div>

        <div class="join-div">

            <div class="buttons">
                <a href="https://github.com/MuhammedAhmedYazea/Join"><button class="btn-github">Github</button></a>

                <a href="https://muhammed-ahmed-yazea.developerakademie.net/join/"><button class="btn-livetest">Live test</button></a>
            </div>

            <img class="join-img" src="assets/joinmock.png">

            <div class="desc-body-04">
                <h2><b><br class="hide-breaks">Join</b></h2>

                <p><br class="hide-breaks">{{ 'PORTFOLIO_04_03' | translate }}  
                </p>

                <h4><br class="hide-breaks">JavaScript | HTML | CSS | Git</h4><br class="hide-breaks">
            </div>
        </div>
    </div>


</body>