body {
    background-color:  #141d2f;
    margin: 0;
    box-sizing: border-box;
    
}

* {
    box-sizing: border-box;
   
}

header {
   z-index: 1000000;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   background-color:  #141d2f;
   color: white;
   padding:32px;
   padding-right: 4vh;
   padding-left: 4vh;
   /*padding-left: 120px;
   padding-right: 120px;
   display: flex;
   justify-content:space-between;*/
   .header-content {
    display: flex;
    justify-content:space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    
        h3 {
            font-size: 36px;
            font-family: 'Poppins-Regular bold';
            cursor: pointer;
                .last-letter {
                    color: #53bfe9;
                    font-family: 'Poppins-Regular bold';
                }
        }
    }
   nav {
    
        a {
            text-decoration: none;
            color: white;
            font-size: 20px;
            margin-left: 32px;
            display: inline-block;
            margin-top: 14px;
        }
        a:hover {
            color: #53bfe9;
        }
   }

   .burger-menu {
        display: none;
        width: 32px;
        height: 32px;
   }
}
}

@media (max-width: 800px) {
    header {
        padding-left: 1vh;
        padding-right: 1vh;
    .header-content {
        /*padding-left: 10px;
        padding-right: 10px;*/
        display: flex;
        justify-content:space-around;
        nav {
    
            a {
                text-decoration: none;
                color: white;
                font-size: 20px;
                margin-left: 32px;
                display: none;
                margin-top: 14px;
            }
            a:hover {
                color: #53bfe9;
            }
       }
        .burger-menu {
            display: flex;
            width: 36px;
            height: 46px;
            cursor: pointer;
        }
    }
}
}