<header>
    <div class="header-content">
        <a href="#hero"><h3>Muhamme<span class="last-letter">d</span></h3></a>

        <nav>
            <a href="#about" ><p>{{ 'ABOUT' | translate }}</p></a>
            <a href="#skills" ><p>{{ 'SKILLS' | translate }}</p></a>
            <a href="#portfolio"><p>{{ 'PORTFOLIO' | translate }}</p></a>
            <a (click)="switchLanguage()"><p>{{ 'SWITCH_LANGUAGE' | translate }}</p></a>
        </nav>

        <img class="burger-menu" src="assets/Property_1=burger.png" type="button" (click)="openDialog()" >

    </div>
</header> 


