<body>

<div class="top-05">
    <div class="contact-line"></div>
    <h1><b>Contact</b></h1>
</div>

<div class="right-left-05">

    <div class="left-div-05">
        <div class="problem-div-05">
            <div class="problem-line"></div>
            <h2><b>Got a problem to solve?</b></h2>
        </div>
        <div class="p-tag">
            <p><br>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.
                <br><br>Need a Frontend developer? <b>Contact me!</b></p>
        </div>
    
    </div>

    <div class="right-div-05">
        <div class="forms-div">
            <form action="">
                <input class="name-input" type="text" placeholder=" Your name ">
                <input class="email-input" type="email" placeholder=" Your email ">
                <textarea class="message-textarea" type="text" rows="7" placeholder="Your message "></textarea>
                <div class="checker">
                <input class="checkbox" type="checkbox"> <p>&nbsp; &nbsp;I've read the privacy policy and agree to the processing of my data as outlined.</p>
                </div>
                <button class="send-button">Send Mail</button>
            </form>
            <div class="go-up-div">
                <img class="go-up" src="assets/go_up.png" alt="">
            </div>
        </div>
    </div>

</div>

</body>