<body id="contact">

<div class="top-05">
    <div class="contact-line"></div>
    <h1><b>{{ 'CONTACT_05_01' | translate }}</b></h1>
</div>

<div class="right-left-05">

    <div class="left-div-05">
        <div class="problem-div-05">
            <div class="problem-line"></div>
            <h2><b>{{ 'CONTACT_05_02' | translate }}</b></h2>
        </div>
        <div class="p-tag">
            <p><br>{{ 'CONTACT_05_03_01' | translate }}
                <br><br>{{ 'CONTACT_05_03_02' | translate }} <b>{{ 'CONTACT_05_03_02' | translate }}</b></p>
        </div>
    
    </div>

    <div class="right-div-05">
        <div class="forms-div">
            <form action="">
                <input class="name-input" type="text" placeholder=" {{ 'CONTACT_05_NAME' | translate }} ">
                <input class="email-input" type="email" placeholder=" {{ 'CONTACT_05_EMAIL' | translate }} ">
                <textarea class="message-textarea" type="text" rows="7" placeholder=" {{ 'CONTACT_05_MSG' | translate }} "></textarea>
                <div class="checker">
                <input class="checkbox" type="checkbox"> <p>&nbsp; &nbsp;{{ 'CONTACT_05_POLICY' | translate }}</p>
                </div>
                <button class="send-button">{{ 'CONTACT_05_SEND' | translate }}</button>
            </form>
            <div class="go-up-div">
                <a href="#hero"><img class="go-up" src="assets/go_up.png" alt=""></a>
            </div>
        </div>
    </div>

</div>

</body>