<body>
    <footer id="footer">
        <div class="name-01">
            <a href="#hero"><h3>Muhamme<span class="last-letter">d</span></h3></a>
            <p>Impressum</p>
        </div>

        <div class="name-02">
            <p>© Muhammed Ahmed Yazea 2024</p>
        </div>

        <div class="img-footer">
            <a href="https://github.com/MuhammedAhmedYazea"><img src="assets/hero_github.png"></a>
            <a href="#contact"><img src="assets/hero_email.png"></a>
            <a href="#"><img src="assets/hero_linkedin.png"></a>
        </div>


    </footer>
</body>
