body {
    color: white;
    background-color:  #141d2f;
    margin: 0;
    height: 40vh;
    overflow-x: hidden;;
}

* {
    box-sizing: border-box;
}

p {
    margin: 0 auto; /* Das für p war nur ein Test. Kannst du später entfernen.*/
    max-width: 1440px;
}

footer {
    margin: 0 auto; 
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding: 8vh;
    .name-01 {

        h3 {
           
            font-size: 36px;
            font-family: 'Poppins-Regular bold';
            cursor: pointer;

            .last-letter {
            color: #53bfe9;
            font-family: 'Poppins-Regular bold';
            }
        }

       
    }

    .name-02 {
        padding-top: 2vh;
        p {
            font-size: 20px;
        }
    }

    .img-footer {
        padding-top: 2vh;
        img {
            margin-left: 5vh;
        }
        img:hover {
            cursor: pointer;
            transform: scale(1.3) perspective(1px);
        }
    }
}

@media (max-width: 1000px) {

    footer {
        text-align: center;
        display: block;
    }
}