<body id="hero">
    <div class="title-hero">
    <span class="rotate-iam">{{ 'I_AM' | translate }}</span><h1 class="hero-name">Muhammed Ahmed Yazea<br> <span class="hero-dev">{{ 'FRONTEND_DEVELOPER' | translate }}</span> </h1>
    </div>
    <div class="btn-hero"><a href="#contact"><button class="btn-talk">{{ 'LETS_TALK' | translate }}</button></a></div>

    <div class="bottom-left">
        <div class="hero-blueline"></div>
        <div class="hero-icons">
            <a href="https://github.com/xmu01"><img src="assets/hero_github.png"></a>
            <a href="#contact"><img src="assets/hero_email.png"></a>
            <a href="https://www.linkedin.com/in/muhammed-ahmed-yazea-0a1a1b31a/"><img src="assets/hero_linkedin.png"></a>
        </div>
        
    </div>

    <div class="bottom-right">
        <p>{{ 'SCROLL_DOWN' | translate }}</p>
        <a href="#footer"><img src="assets/go_down.png"></a>
    </div>
    
    
</body>