<body>
    <div class="title-hero">
    <span class="rotate-iam">I am </span><h1 class="hero-name">Muhammed Ahmed Yazea<br> <span class="hero-dev">FRONTEND DEVELOPER</span> </h1>
    </div>
    <div class="btn-hero"><button class="btn-talk">Let's talk!</button></div>

    <div class="bottom-left">
        <div class="hero-blueline"></div>
        <div class="hero-icons">
            <img src="assets/hero_github.png">
            <img src="assets/hero_email.png">
            <img src="assets/hero_linkedin.png">
        </div>
        
    </div>

    <div class="bottom-right">
        <p>Scroll down</p>
        <img src="assets/go_down.png">
    </div>
    
    
</body>