<body id="hero">
    <div class="title-hero">
    <span class="rotate-iam">I am </span><h1 class="hero-name">Muhammed Ahmed Yazea<br> <span class="hero-dev">FRONTEND DEVELOPER</span> </h1>
    </div>
    <div class="btn-hero"><a href="#contact"><button class="btn-talk">Let's talk!</button></a></div>

    <div class="bottom-left">
        <div class="hero-blueline"></div>
        <div class="hero-icons">
            <a href="https://github.com/MuhammedAhmedYazea"><img src="assets/hero_github.png"></a>
            <a href="#contact"><img src="assets/hero_email.png"></a>
            <a href="#"><img src="assets/hero_linkedin.png"></a>
        </div>
        
    </div>

    <div class="bottom-right">
        <p>Scroll down</p>
        <a href="#footer"><img src="assets/go_down.png"></a>
    </div>
    
    
</body>