* {
    margin: 0;
    font-family: 'Poppins-Regular';
}

/* Poppins nomal font */
@font-face {
    font-family: 'Poppins-Regular';
    src: url('./assets/fonts/Poppins-1/Poppins-Regular.ttf');
}

/* Poppins bold font */
@font-face {
    font-family: 'Poppins-Regular bold';
    src: url('./assets/fonts/Poppins-1/Poppins-Bold.ttf');
}
html, body { height: unset !important; } // Davor war statt unset, height: 100%;
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #141d2f; }

.mdc-dialog__surface {
    background: gray !important;
  }

.cdk-overlay-backdrop-showing {
    background: gray;
}

.mdc-dialog__container {
    border: none;
}

/*Damit Scrolls bei Onclick immer smooth verlaufen:*/
html {
    scroll-behavior: smooth; 
}
