<body id="about">
    
    <div class="left-div-02">
        <h1>About me</h1>

        <div class="description">
            <p>
                Hello, I'm Muhammed, a Frontend Developer based in Cologne. I have a background in Web Development with a focus on HTML, CSS, JavaScript, TypeScript, and Angular.
            </p>

            <div class="description-part1">
                <div class="img-container" >
                <img class="bulb-png" src="assets/bulb_desktop.png"> 
                </div>
            <p class="bulb-text" >
                My passion lies in programming, which is why I specialize in Web Development. My aim is to create user-friendly websites that seamlessly blend functionality and aesthetics.
            </p>
            </div>     

            <div class="description-part2">
            <br>
                <div class="img-container2">
                <img class="puzzle-png" src="assets/puzzle_desktop.png">
                </div>
            <p class="puzzle-text" >
                Think of me as the missing puzzle piece for your team. With my passion for Software Development and the ability to solve problems efficiently, I am ready to contribute to your projects and help you achieve your goals.
            </p>
            </div>
               
        </div>

    </div>

    <div class="right-div-02">
        <div class="bg-pfp">
            <img class="bg-pfp-img" src="assets/pfpbg.png">
        </div>

        <div class="vector">
            <img class="vector-img" src="assets/Vector.png">
        </div>
    </div>
    


</body>
