<body id="about">
    
    <div class="left-div-02">
        <h1>About me</h1>

        <div class="description">
            <p>
                Hi, I am a Front-end developer based in Munich, Germany! Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt saepe consequuntur nobis impedit. Expedita eos id, quos dicta enim sequi voluptate maxime ullam vitae velit, praesentium eius ad facere at.
            </p>

            <div class="description-part1">
                <div class="img-container" >
                <img class="bulb-png" src="assets/bulb_desktop.png"> 
                </div>
            <p class="bulb-text" >
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique eveniet ratione est placeat id, unde dicta impedit molestias error sed, quam, voluptatum quas reprehenderit suscipit voluptas perferendis
            </p>
            </div>     

            <div class="description-part2">
            <br>
                <div class="img-container2">
                <img class="puzzle-png" src="assets/puzzle_desktop.png">
                </div>
            <p class="puzzle-text" >
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique eveniet ratione est placeat id, unde dicta impedit molestias error sed, quam, voluptatum quas reprehenderit suscipit voluptas perferendis
            </p>
            </div>
               
        </div>

    </div>

    <div class="right-div-02">
        <div class="bg-pfp">
            <img class="bg-pfp-img" src="assets/pfpbg.png">
        </div>

        <div class="vector">
            <img class="vector-img" src="assets/Vector.png">
        </div>
    </div>
    


</body>
