<body id="about">
    
    <div class="left-div-02">
        <h1>{{ 'ABOUT_02' | translate }}</h1>

        <div class="description">
            <p>
                {{ 'ABOUT_02_01' | translate }}
            </p>

            <div class="description-part1">
                <div class="img-container" >
                <img class="bulb-png" src="assets/bulb_desktop.png"> 
                </div>
            <p class="bulb-text" >
                {{ 'ABOUT_02_02' | translate }}
            </p>
            </div>     

            <div class="description-part2">
            <br>
                <div class="img-container2">
                <img class="puzzle-png" src="assets/puzzle_desktop.png">
                </div>
            <p class="puzzle-text" >
                {{ 'ABOUT_02_03' | translate }}
            </p>
            </div>
               
        </div>

    </div>

    <div class="right-div-02">
        <div class="bg-pfp">
            <img class="bg-pfp-img" src="assets/pfpbgblack.PNG">
        </div>

        <div class="vector">
            
            <img class="vector-img" src="assets/Vector.png">
        </div>
    </div>
    


</body>
