.imprint {
    background-color:  #141d2f;
    margin: 0 auto;
    height: 100vh;
    overflow-x: hidden;
    color: white;
    border-bottom:  6px solid #01b8e2;
    
}

* {
    box-sizing: border-box;
    
}

p, h2, h1 {
    max-width: 1440px;
    margin-right: 8vh;
    margin-left: 8vh;
}

.end-imprint {
    margin-bottom: 8vh;
}