body {
    color: white;
    background-color:  #141d2f;
    margin: 0;
    height: 130vh;
    display: flex;
}

* {
    box-sizing: border-box;
    
}

p {
    margin: 0 auto; /* Das für p war nur ein Test. Kannst du später entfernen.*/
    max-width: 1440px;
}

.left-div-03 {
    margin: 0 auto;
    max-width: 1440px;
    margin-left: 8vh; /*Eventuell hier später daran arbeiten*/
    margin-right: 2vh;
    width: 60%; /*Testen*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-x: hidden;
    
    
    .first-row {

        .img-text {
            margin-right: 50px;
            margin-bottom: 50px;
            .left-03-img {
                width: 50px;
                height: 50px;
        
            }
        }

    }

    
}

.right-div-03 {
    /*width: 50%;/* Brauche ich denke ich nicht*/
   display: flex;
    
    .headline-line {
        
        
        h1 {
            font-size: 64px;
            margin-bottom: 0vh;
         
        }
        .line-skills {
           
            height: 4px;
            color: #01b8e2;
            background-color: #01b8e2;
            width: 100px;
            margin-top: 20vh;

        }
    }

    .btn-skills {
        /*display: flex;
        justify-content: center;*/
        margin-top: -190px; /*Eventuell anpassen gleich*/
         
        .btn-touch {
            color: white;
            background-color: #01b8e2;
            height: 50px;
            width: 130px;
            border: none;
            border-radius: 8px;
            font-size: 19px;
        }
        .btn-touch:hover {
            cursor: pointer;
            background-color: #4b47ff;
            transform: scale(1.2) perspective(1px);
            font-size: 19px;
        }
    }
}