<div id="skills">

    <div class="left-div-03">

        <div class="first-row">
            <div class="img-text">
                <img class="left-03-img" src="assets/Property_m1=JavScript.png">
                <p class="left-03-text"><b>JavaScript</b></p>
            </div>

            <div class="img-text">
                <img class="left-03-img" src="assets/Property_m1=Angular.png">
                <p class="left-03-text"><b>Angular</b></p>
            </div>

            <div class="img-text">
                <img class="left-03-img" src="assets/Property_m1=Typescript.png">
                <p class="left-03-text"><b>TypeScript</b></p>
            </div>

            <div class="img-text">
                <img class="left-03-img" src="assets/Property_1=html.png">
                <p class="left-03-text"><b>HTML 5</b></p>
            </div>
        </div>    

        <div class="first-row">
            <div class="img-text">
                <img class="left-03-img" src="assets/Property_1=Git.png">
                <p class="left-03-text"><b>GIT</b></p>
            </div>

            <div class="img-text">
                <img class="left-03-img" src="assets/Property_1=Firebase.png">
                <p class="left-03-text"><b>Firebase</b></p>
            </div>

            <div class="img-text">
                <img class="left-03-img" src="assets/Property_1=css.png">
                <p class="left-03-text"><b>CSS 3</b></p>
            </div>
        </div>
        
        
        <div class="first-row">
            <div class="img-text">
                <img class="left-03-img" src="assets/Property_1=Scrum.png">
                <p class="left-03-text"><b>Scrum</b></p>
            </div>

            <div class="img-text">
                <img class="left-03-img" src="assets/Property_1=Test_Api.png">
                <p class="left-03-text"><b>Rest-API</b></p>
            </div>
        </div>    

        <div class="first-row">
            <div class="img-text">
                <img class="left-03-img bounce" src="assets/Property_1=Test_Automation.png">
                <p class="left-03-text"><b>Material<br> Design</b></p>
            </div>
        </div>    


    </div>


    <div class="right-div-03">

        <div class="headline-line">
            <h1><b>{{ 'SKILLS_03_01' | translate }}</b></h1>
            <div class="line-skills"></div>
        </div>

        <div class="description-skills-03">
            <p>{{ 'SKILLS_03_02' | translate }}</p>
        </div>

        <div class="btn-skills"><a href="#contact"><button class="btn-touch">{{ 'SKILLS_03_03' | translate }}</button></a></div>

        

    </div>

    
</div>